﻿@model NBProject.Models.ListaPesamaViewModel

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
    <link href="~/Content/rateit.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.rateit.js"></script>
    <script type="text/javascript" src="~/Scripts/audio.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>

@foreach (var p in Model.listSongAndRating)
{
   <div class="well">
        <h3>
            @Html.RouteLink(p.Song.Name, new
   {
       controller = "Song",
       action = "List",
       category = ViewBag.SelectedCategory,
       id = p.Song.Name,
       }, new
       {
       @class = "text-primary lead"
       })
            <span class="pull-right label label-info">@p.Song.Price.ToString("c")</span> - @p.Song.Singer
        </h3>

       
       <div class="rateit" data-rateit-mode="font" style="font-size:30px" data-rateit-value="@p.Rating" data-productid="@p.Song.Name@p.Song.Singer"></div>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            <div class="pull-right">
                @Html.Hidden("Name", p.Song.Name)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }

        <div class="pull-left">
            <div class="text-center" style="margin-right: 10px">
                <audio preload="none">
                    <source src="@Url.Action("getMediaFile", "Song", new { concNameAndSinger = p.Song.Name + p.Song.Singer})" />
                </audio>
            </div>

        </div>
       <br />
       <br />
    </div>
}

<script type="text/javascript" src="~/Scripts/AudioAndRatingScript.js"></script>