﻿@model NBProject.Models.KorpaViewModel

<style>
    #cartTable td {
        vertical-align: middle; }
</style>

<h2>Your cart</h2>
<table  id ="cartTable" class=table>
    <thead>
        <tr>
            <th>Item</th>
            <th class="text-right">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class=text-left>@line.Name - @line.Singer</td>
                <td class=text-right>@line.Price.ToString("c")</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("name", line.Name)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning"
                               type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="text-center">Total:</td>
            <td class="text-center">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>

        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout", null, new { @class = "btn btn-primary" })
</div>
