﻿@model Domain.Entities.Cart

@{
    Layout = null;
}

<div class="navbar-right" style="margin-right:10px;">
    @Html.ActionLink("Checkout", "Index", "Cart",
new { returnUrl = Request.Url.PathAndQuery },
new { @class = "btn btn-default navbar-btn " })
</div>
<div class="navbar-text navbar-right" style="margin-right:2px">
    <b>Your cart:</b>
    @Model.Lines.Count() items
    @Model.ComputeTotalValue().ToString("c")
</div>