﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <title>MusicStore</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="">Music Store</a>
        @Html.RouteLink("SongCRUD", new
        {
         controller = "CRUD",
         action = "Index",
     }, new
     {
         @class = "navbar-brand"
     })


        @Html.RouteLink("SingerCRUD", new
     {
         controller = "CRUD",
         action = "IndexSinger",
     }, new
     {
         @class = "navbar-brand"
     })    

     @Html.Action("Summary", "Cart")
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-2">
            @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-7 bg-dark" >
            @RenderBody()
        </div>
        <div id="SingerInfo" class="col-xs-3">
            @Html.Action("Profile", "Nav")
          
        </div>

    </div>
 </body>
</html>
