﻿@model Domain.Singer

@{
    ViewBag.Title = "DetailsSinger";
    Layout = "~/Views/Shared/_CRUDlayout.cshtml";
}

<h2>Details about singer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

   
    </dl>
</div>
<p>
    @Html.ActionLink("Back to list of singers", "IndexSinger", null,
new { @class = "btn btn-info" })
</p>
