﻿@model Domain.Song

@{
    ViewBag.Title = "DetailsSong";
    Layout = "~/Views/Shared/_CRUDlayout.cshtml";
}

<h2>Details about song</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lyrics)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lyrics)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Singer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Singer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to list of songs", "Index", null,
new { @class = "btn btn-info" })
</p>
