﻿@model IEnumerable<Domain.Song>
@{
    ViewBag.Title = " All Songs";
    Layout = "~/Views/Shared/_CRUDlayout.cshtml";
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3>All songs</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Singer</th>
                <th class="text-center">Price</th>
                <th class="text-center">Album</th>
                <th class="text-center">Category</th>
                <th class="text-center">Actions</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Name</td>
                    <td class="text-center">@item.Singer </td>
                    <td class="text-center">@item.Price.ToString("c")</td>
                    <td class="text-center">@item.Album </td>
                    <td class="text-center">@item.Category </td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteSong", "CRUD"))
                        {
                            @Html.Hidden("name", item.Name)
                            <input type="submit"
                                   class="btn  btn-info"
                                   value="Delete" />
                        }
                   
                        @using (Html.BeginForm("UpdateSong", "CRUD"))
                        {
                            @Html.Hidden("name", item.Name)
                            <input type="submit"
                                   class="btn  btn-info"
                                   value="Update" />
                        }
                    
                        @using (Html.BeginForm("DetailsSong", "CRUD"))
                        {
                            @Html.Hidden("name", item.Name)
                            <input type="submit"
                                   class="btn btn-info"
                                   value="Details" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new song", "CreateSong", null,
new { @class = "btn btn-success" })
        @Html.RouteLink("Go back to main page", new
   {
       controller = "Song",
       action = "List",
       category = ViewBag.SelectedCategory,
   }, new
   {
       @class = "btn btn-success"
   })
    </div>
</div>