﻿@model IEnumerable<Domain.Singer>
@{
    ViewBag.Title = " All Singers";
    Layout = "~/Views/Shared/_CRUDlayout.cshtml";
}

<div class="panel panel-default ">
    <div class="panel-heading">
        <h3>All singers</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Alias</th>
                <th class="text-center">Year of birth</th>
                <th class="text-center">Place of birth</th>
                <th class="text-center">Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Name</td>
                    <td class="text-center">@item.Alias </td>
                    <td class="text-center">@item.YearOfBirth.ToString("dd-mm-yyyy") </td>
                    <td class="text-center">@item.BirthPlace </td>
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteSinger", "CRUD"))
                        {
                            @Html.Hidden("name", item.Name)
                            <input type="submit"
                                   class="btn btn-info"
                                   value="Delete" />
                        }
                   
                        @using (Html.BeginForm("UpdateSinger", "CRUD"))
                        {
                            @Html.Hidden("name", item.Name)
                            <input type="submit"
                                   class="btn btn-info"
                                   value="Update" />
                        }
                   
                        @using (Html.BeginForm("DetailsSinger", "CRUD"))
                        {
                            @Html.Hidden("name", item.Name)
                            <input type="submit"
                                   class="btn btn-info"
                                   value="Details" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Add a new singer", "CreateSinger", null,
new { @class = "btn btn-success" })
        @Html.RouteLink("Go back to main page", new
         {
             controller = "Song",
             action = "List",
             category = ViewBag.SelectedCategory,
         }, new
         {
             @class = "btn btn-success"
         })
    </div>
</div>