﻿@model NBProject.Models.NavModelView

<script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />


@Html.ActionLink("Home", "List", "Song", null,
new
{
    @class = "btn btn-block btn-default btn-lg" + (ViewBag.SelectedCategory == null ? " btn-primary" : "")
})
@foreach (var link in Model.Categories)
{
    @Html.RouteLink(link, new
    {
        controller = "Song",
        action = "List",
        category = link,
    }, new
    {
        @class = "btn btn-block btn-default btn-lg" + (link == ViewBag.SelectedCategory ? " btn-primary" : "")
    })
}

<br />
<center><h4>Get songs by singer:</h4></center>
@foreach (var link in Model.Singers)
{
    @Html.RouteLink(link.Name, new
{
    controller = "Song",
    action = "List",
    singerSelected = link.Name
}, new
{
    @class = "btn btn-block btn-default btn-lg" + (link.Name == ViewBag.SingerSelected ? " btn-primary" : "")
})
}

