﻿@model NBProject.Models.ProfilViewModel

<div class=well>
    <div class="text-center" style="margin-right: 10px">
        <img class="img-circle" id="profilePic" width="180" height="180"
             src="@Url.Action("GetImage", "Nav",
           new { Model.concNameAndAlias })" />
    </div>
    
    <center><h2>@Model.singerName  @Model.singerAlias</h2></center>
    @if (Model.singerName != null)
    {<center style="text-align:center"> @Model.singerBirthYear.ToString("dd-mm-yyyy")</center> }
    <center><h3>@Model.songName</h3></center>
    <center style="text-align:center">@Model.songLyrics</center>
</div>

